---
import blanketImg from '@/assets/packing/blanket.jpg';
import lgImg from '@/assets/packing/lg.jpg';
import mdImg from '@/assets/packing/md.jpg';
import paperImg from '@/assets/packing/paper.jpg';
import pictureImg from '@/assets/packing/picture.jpg';
import smImg from '@/assets/packing/sm.jpg';
import wardrobeImg from '@/assets/packing/wardrobe.jpg';
import Container from '@/components/Container.astro';
import Section from '@/components/Section.astro';
import SectionHeader from '@/components/SectionHeader.astro';
import {
  Card,
  CardContent,
  CardHeader,
  CardTitle,
} from '@/components/starwind/card';
import { Image } from '@/components/starwind/image';
import { tv } from 'tailwind-variants';

interface Item {
  img: ImageMetadata;
  price: string;
  name: string;
  size: string;
}

const items: Item[] = [
  {
    img: blanketImg,
    price: 'free',
    name: 'Moving Blankets',
    size: `72" x 0.2" x 80`,
  },
  {
    img: smImg,
    price: '$4.00',
    name: 'Small Box',
    size: `17" x 12 3/8" x 12 3/8`,
  },
  {
    img: mdImg,
    price: '$6.00',
    name: 'Medium Box',
    size: `18" x 18" x 16`,
  },
  {
    img: lgImg,
    price: '$8.00',
    name: 'Large Box',
    size: `18" x 18" x 24`,
  },
  {
    img: wardrobeImg,
    price: '$20.00',
    name: 'Wardrobe',
    size: `21" x 18" x 46`,
  },
  {
    img: pictureImg,
    price: '$8.00',
    name: 'Frame Box',
    size: `37" x 4" x 27`,
  },
  {
    img: paperImg,
    price: '$30.00',
    name: 'Packing Paper',
    size: `approx. 450 sheets`,
  },
];

interface Props {
  id?: string;
  class?: string;
}

const carousel2Styles = tv({
  base: 'overflow-visible py-16',
});

const { id, class: className } = Astro.props;
---

<Section class={carousel2Styles({ class: className })} id={id}>
  <Container>
    <SectionHeader title="Packing Supplies." position="left" class="mb-6" />
  </Container>
  <div class="carousel-breakout">
    <ul class="carousel-scroller" tabindex="0" aria-label="Packing supplies">
      {
        items.map((item) => (
          <li class="carousel-item w-64">
            <Card class="hover:shadow-lg hover:-translate-y-1 transition-all">
              <CardHeader>
                <CardTitle class="text-sm font-medium">{item.price}</CardTitle>
              </CardHeader>
              <CardContent>
                <div class="m-auto flex h-full min-h-[170px] w-[130px] items-center justify-center">
                  <Image
                    src={item.img}
                    alt={item.name}
                    loading="lazy"
                    title={item.name}
                    class="object-contain object-center"
                    decoding="async"
                    fetchpriority="low"
                  />
                </div>
                <div class="mt-4">
                  <p class="text-sm font-semibold">{item.name}</p>
                  <p class="text-muted-foreground/80 text-sm">{item.size}</p>
                </div>
              </CardContent>
            </Card>
          </li>
        ))
      }
    </ul>
  </div>
</Section>
