---
import Container from '@/components/Container.astro';
import Section from '@/components/Section.astro';
import SectionHeader from '@/components/SectionHeader.astro';
import {
  Card,
  CardContent,
  CardHeader,
  CardTitle,
} from '@/components/starwind/card';
import {
  ShieldCheckIcon,
  TruckDeliveryIcon,
  CalendarTimeIcon,
  Receipt2Icon,
  LicenseIcon,
  ClockShieldIcon,
} from '@/icons';
import type { SvgComponent } from 'astro/types';

interface Props {
  title?: string;
  subtitle?: string;
  label?: string;
  position?: 'left' | 'center' | 'right';
  features?: Feature[];
}

type Feature = {
  name: string;
  description: string;
  icon: SvgComponent | ImageMetadata;
};

const defaultFeatures: Feature[] = [
  {
    name: 'Experienced Movers',
    description:
      "Our team comprises seasoned professionals with extensive experience in local relocations. We're equipped to handle moves of all sizes, from studio apartments to large corporate offices.",
    icon: TruckDeliveryIcon,
  },
  {
    name: 'Safety and Security',
    description:
      'Your belongings are our top priority. We employ industry best practices and use high-quality packing materials to ensure the safe and secure transportation of your items.',
    icon: ShieldCheckIcon,
  },
  {
    name: 'Flexible Scheduling Options',
    description:
      "We understand that every move is unique. That's why we offer flexible scheduling options, including weekends and evenings, to accommodate your busy schedule.",
    icon: CalendarTimeIcon,
  },
  {
    name: 'Affordable Pricing',
    description:
      'We are transparent about pricing, providing detailed upfront estimates with no hidden fees.',
    icon: Receipt2Icon,
  },
  {
    name: 'Licensed and Insured',
    description:
      'As a fully licensed and insured moving company, you can have peace of mind knowing that your move is in capable hands.',
    icon: LicenseIcon,
  },
  {
    name: '100% On-Time Guarantee',
    description:
      'We guarantee that we will be at the needed place on time, as specified in our agreement. Be sure that we got you covered.',
    icon: ClockShieldIcon,
  },
];

const {
  title = 'Why Choose Us As Your Movers?',
  subtitle,
  label = 'Why Choose Us',
  position = 'center',
  features = defaultFeatures,
} = Astro.props;
---

<Section class="py-16">
  <Container class="@container">
    <SectionHeader
      title={title}
      subtitle={subtitle}
      label={label}
      position={position}
    />
    <ul role="list" class="grid @2xl:grid-cols-2 @4xl:grid-cols-3 gap-10">
      {
        features.map((feature) => {
          const Icon = feature.icon as SvgComponent;
          return (
            <li>
              <Card class="border-0 min-h-0 h-full ring-0 bg-transparent hover:bg-card hover:shadow-lg hover:-translate-y-1 transition-all">
                <CardHeader>
                  <Icon
                    class="text-primary-accent size-10"
                    aria-hidden="true"
                  />
                  <CardTitle class="text-lg font-semibold leading-7">
                    {feature.name}
                  </CardTitle>
                </CardHeader>
                <CardContent>
                  <p class="mt-2 leading-7">{feature.description}</p>
                </CardContent>
              </Card>
            </li>
          );
        })
      }
    </ul>
  </Container>
</Section>
